.nav-item {
	border-bottom: 1px solid black;
}
#navcol-1 {
	width: 100%;
}
.nav-link {
	color: black;
}
section {
	background-color: #A19A9A;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 50px;
}
.col-lg-4,.col-md-6,.col-sm-12 {
	padding: 0;
}
.row {
	margin-left: 20px;
	margin-right: 20px;
}
#link-1 {
	color: #0000cc;
}
p {
	padding-left: 15px;
	padding-right: 15px;
}
